<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio - Keegan Shea</title>
        <link rel="stylesheet" href="semantic/dist/semantic.min.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
    </head>
    <body>
    <div class="container" id="navigation" >
        <header id="masthead" class = "site-header dark" role="banner">
            <div class="containter-fluid">
                <div class="row">
                    <h1>KEEGAN SHEA</h1>
                    <ul class="nav justify-content-end">
                      <li class="nav-item">
                        <a class="nav-link active" href="/">home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/portfolio">portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/blog">blog</a>
                      </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>    
    