<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio - Keegan Shea</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
    </head>
    <body>
    <div class="container" id="navigation" >
        <header id="masthead" class = "site-header dark" role="banner">
            <div class="containter-fluid">
                <div class="row">
                    <h1>KEEGAN SHEA</h1>
                    <ul class="nav justify-content-end">
                      <li class="nav-item">
                        <a class="nav-link active" href="/">home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/portfolio">portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/blog">blog</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row contactslist">
                    <a class="contacts active" href="https://www.facebook.com/keegan.shea.9"><i class="facebook f icon large"></i></a>
                    <a class="contacts" href="https://github.com/Keggatron"><i class="github icon large"></i></a>
                    <a class="contacts" href="https://www.linkedin.com/in/keegan-shea-777269127/"><i class= "linkedin square icon large"></i></a>
                </div>
            </div>
        </header>
    </div>    
    