<% include ../partials/header %>
    
    <div class="container window">
        <div class="container landing">
            <h4 class="blurb">Hi I'm Keegan,</h4>
            <p >I'm currently living in Yellowknife, NT, Canada working at a fly in diamond mine about 300 KMs northeast of there. For the past year I have been learning web development.
            I have just recently finished Colt Steele's 'The Web Developer Bootcamp' on Udemy and I'm looking for a place to showcase some of my projects as well as blog my journey.
            <br>
            <br>
            My journey started last year when I listened to a podcast discussing coding bootcamps. This came as news to me as I had figured that becoming a programmer was a long and arduous process.  
            After I had listened to the podcast I started to really look into bootcamps. However they were pricey and I wasn't ready to take the leap and quit my job. Listening to more podcasts 
            and researching more about it I found The Odin Project and dug into it. I got close to the end of the Ruby track but I found that progress was slow especially trying to learn some of the 
            harder concepts on my own. I started to get discouraged and so I decided to look elsewhere for guidance. I looked into some of the courses at Udemy and took one of the Oracle SQL courses. I then took a MySQL 
            bootcamp facilitated by Colt Steele. I liked Colt as a teacher so much I decided to take his Web Developer Bootcamp which was great. It focused on the MEN stack(Mongo, Express and Node) as well as delving into
            many other technologies. 
            <br>
            <br>
            That brings me to where I'm at currently in my journey. From here I'd like to build a few projects and continue learning new things everyday.
            </p>
        </div>
            
    </div>
    
    
    
    
<% include ../partials/footer %>    