<% include ../partials/header %>
    
    <div class="container window">
        <div class="container landing">
            <h4 class="blurb">Hi I'm Keegan,</h4>
            <p >I'm currently living in Yellowknife, NT, Canada working at a fly in diamond mine about 300 KMs northeast of there. For the past year and a half I have been learning web development.
            This is a place to showcase some of my projects as well as blog my journey.
            <br>
            <br>
            My journey started two years ago when I listened to a podcast discussing coding bootcamps. Listening to more podcasts and researching more about 
            it I found The Odin Project and dug into it. After working on the Odin Project for a while, I was a bit discouraged with the results. Looking
            back on it now I realize that the content was fine, it was just how everything was ordered. From there I moved on and completed a few courses in SQL and 
            MySQL. Following that I found that one of the facilitators to be quite good so I enrolled in his Node.js class on Udemy. This course taught me how to put everything
            together and build a website. I completed a few projects afterwards and turned my focus onto learning React.js which I have been doing for the past few months. I 
            have built a few React projects since learning which are showcased in my portfolio section on this site. 
            <br>
            <br>
            That brings me to where I'm at currently in my journey. I am currently looking to continue learning new things everyday and I am hoping that I can find
            a full time position as a web developer.
            </p>
        </div>
            
    </div>
    
    
    
    
<% include ../partials/footer %>    