<% include ../partials/header %>

<div class="container window">
    <div class="container landing">
    
        <h1>Portfolio</h1>
        <div class="ui divider"></div>
        <h4 class="blurb">Project #1 - YelpCamp</h4>
        <a class="link" href="https://stark-shore-28150.herokuapp.com/" target="_blank">View Site</a>
        <p>
        This is the major project that was completed in the Web Developer bootcamp. It combined all of the things we learned in the bootcamp. The premise of the website is that user's submit and rate campgrounds.
        The site combines authentication with authorization to go in and edit comments or campgrounds. It was a good learning experience that I can use as a guide in creating other things.
        </p>
    </div
</div>

    
<% include ../partials/footer %>    