<% include ../partials/header %>

<div class="container window">
    <div class="container landing">
    
        <h1>Portfolio</h1>
        <div class="ui divider"></div>
        <h4 class="blurb">Project #1 - littleBean</h4>
        <a class="link" href="https://dry-anchorage-86909.herokuapp.com/" target="_blank">View Site</a>
        <a class="link" href="https://github.com/Keggatron/littleBean" target="_blank">Github Repo</a>
        <p>
            This project was brought on by a friend asking if I could build him a website for his coffee distribution business. He didn't really give me much of a scope for the project so I went ahead and built something
            that I envisioned it working out as. I included authentication in this website along with email verification for newly created accounts. Inside the users' page I have tabs for open orders as well as completed orders
            that the customer can view. Also customers are able to edit their orders from the user page or delete them. There is a separate Order page for creating new orders. For the admin account, the users' page shows all of 
            the open orders for the business, along with a completion button once the order has been filled. All in all I think this was a great learning experience that built confidence in my abilities with the MEN stack!
            <br>
            <strong>ADMIN LOGIN: admin@littlebeancoffeecompany.com PASSWORD: password</strong>
            <br>
            <strong>USER LOGIN: keeganrmshea@gmail.com PASSWORD: password</strong>
        </p>
        <div class="ui divider"></div>
        <h4 class="blurb">Project #2 - React/Redux UPC Inventory App</h4>
        <a class="link" href="https://fast-plains-42499.herokuapp.com/" target="_blank">View Site</a>
        <a class="link" href="https://github.com/Keggatron/storeProject" target="_blank">Github Repo</a>
        <p>
            This was the first project I completed upon finishing Stephen Grider's highly rated 'Modern React with Redux' course on Udemy. I developed it with the idea that 
            business owner's would be able to use to fill out an online inventory for their store. What it does is it takes the UPC and makes an API call to upcitemdb.com and 
            returns a bunch of different data which would save the business owner time in not having to find pictures or descriptions of the product. In it's current state 
            it's not very user friendly as entering the UPC of each product would I think be more cumbersome than going and getting a description and images of the product. But 
            my intentions are to come back to it in the future after learning mobile development to add a barcode scanner that can be used from a person's phone. 
        </p>
        <div class="ui divider"></div>
        <h4 class="blurb">Project #3 - React Weather Forecast App</h4>
        <a class="link" href="https://react-weather-forecast-keegan.herokuapp.com/" target="_blank">View Site</a>
        <a class="link" href="https://github.com/Keggatron/weather-forecaster" target="_blank">Github Repo</a>
        <p>
            I built this as a project after finishing Tyler McGinnis' React Fundamentals course on his website. Basically it allows you to search for a city then makes an API call
            to openweathermap.org and returns the five day forecast for that specific city. You can click on each day to view the min and max temperatures as well as humidity and 
            weather description. 
        </p>
        <br>
        <br>
    </div>
</div>

    
<% include ../partials/footer %>    