<% include ../partials/header %>

<div class="container window">
    <div class="container landing">
    
        <h1>Portfolio</h1>
        <div class="ui divider"></div>
        <h4 class="blurb">Project #1 - YelpCamp</h4>
        <a class="link" href="https://stark-shore-28150.herokuapp.com/" target="_blank">View Site</a>
        <a class="link" href="https://github.com/Keggatron/YelpCamp" target="_blank">Github Repo</a>
        <p>
        This is the major project that was completed in the Web Developer bootcamp. It combined all of the things we learned in the bootcamp. The premise of the website is that user's submit and rate campgrounds.
        The site combines authentication with authorization to go in and edit comments or campgrounds. It was a good learning experience that I can use as a guide in creating other things.
        </p>

        <div class="ui divider"></div>
        <h4 class="blurb">Project #2 - littleBean</h4>
        <a class="link" href="https://dry-anchorage-86909.herokuapp.com/" target="_blank">View Site</a>
        <a class="link" href="https://github.com/Keggatron/littleBean" target="_blank">Github Repo</a>
        <p>
            This project was brought on by a friend asking if I could build him a website for his coffee distribution business. He didn't really give me much of a scope for the project so I went ahead and built something
            that I envisioned it working out as. I included authentication in this website along with email verification for newly created accounts. Inside the users' page I have tabs for open orders as well as completed orders
            that the customer can view. Also customers are able to edit their orders from the user page or delete them. There is a separate Order page for creating new orders. For the admin account, the users' page shows all of 
            the open orders for the business, along with a completion button once the order has been filled. All in all I think this was a great learning experience that built confidence in my abilities with the MEN stack!
            <br>
            <strong>ADMIN LOGIN: admin@littlebeancoffeecompany.com PASSWORD: password</strong>
            <br>
            <strong>USER LOGIN: keeganrmshea@gmail.com PASSWORD: password</strong>
        </p>
    </div>
</div>

    
<% include ../partials/footer %>    