<% include ../../partials/header %>

<div class="container main"> 
    <form>
        <textarea rows="10" columns="30" name="blog-post" placeholder="blog post" class="post"></textarea>
        <input type="submit" value="Submit"/>
    </form>
</div>
<% include ../../partials/footer %>    